<?xml version="1.0"?>
<configuration>
	<!-- 
      Declare viewstateService as a valid section in this file 
      Note: this section must be first element under <configuration>
    -->
	<configSections>
		<sectionGroup name="system.web">
			<section name="viewstateService" type="DoFactory.Framework.ViewState.ViewStateProviderServiceSection, ViewState" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
	<!-- 
      Application custom settings 
    -->
	<appSettings>
		<!-- DataProvider. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient -->
		<add key="DataProvider" value="System.Data.OleDb"/>
		<!-- Log Severity. Options are: Debug, Info, Warning, Error, Warning, or Fatal -->
		<add key="LogSeverity" value="Error"/>
		<!-- Default Shipping Method. Options are: Fedex, UPS, or USPS  -->
		<add key="ShippingMethod" value="Fedex"/>
	</appSettings>
	<!-- 
      Connection string settings 
    -->
	<connectionStrings>
		<add name="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|action.mdb"/>
		<add name="System.Data.SqlClient" connectionString="Server=(local);Initial Catalog=Action;User Id=sa;Password=secret;"/>
		<add name="System.Data.OracleClient" connectionString="Data Source=MyOracleActionDB;User Id=scott;Password=tiger;Integrated Security=no;"/>
	</connectionStrings>
	<system.web>
		<!-- 
           Custom viewstate provider service 
        -->
		<viewstateService defaultProvider="ViewStateProviderGlobal">
			<providers>
				<add name="ViewStateProviderCache" type="DoFactory.Framework.ViewState.ViewStateProviderCache"/>
				<add name="ViewStateProviderGlobal" type="DoFactory.Framework.ViewState.ViewStateProviderGlobal"/>
				<add name="ViewStateProviderSession" type="DoFactory.Framework.ViewState.ViewStateProviderSession"/>
			</providers>
		</viewstateService>
		<!-- set application theme -->
		<!-- set tag name for custom controls -->
		<pages theme="DoFactory">
			<controls>
				<add tagPrefix="do" namespace="DoFactory.Framework.Controls" assembly="Controls"/>
			</controls>
		</pages>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            </assemblies>
        </compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
